In [1]:
import pandas as pd
import numpy as np
deliveries=pd.read_csv("/home/rguktrkvalley/Documents/data science/deliveries.csv")
df=pd.DataFrame(deliveries)

In [2]:
#1)top 20 batters based on total runs

total_runs=df.groupby("batter")["batsman_runs"].sum()
top_20=total_runs.sort_values(ascending=False)[0:20]
top_20

batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
KL Rahul          4689
AM Rahane         4642
F du Plessis      4571
SV Samson         4419
AT Rayudu         4348
G Gambhir         4217
SR Watson         3880
MK Pandey         3859
SA Yadav          3594
JC Buttler        3583
Name: batsman_runs, dtype: int64

In [3]:
#2)strike rate of players who played more than 100 matches

matches_played=df.groupby("batter")["match_id"].nunique()
balls_faced=df["batter"].value_counts()
runs=total_runs[balls_faced.keys()]
arr1=balls_faced.to_numpy()
arr2=runs.to_numpy()
strike_rate=pd.DataFrame({"batter":balls_faced.keys(),"balls_faced":arr1,"total_runs":arr2,"strike_rate":(arr2/arr1)*100})
merged_df=pd.merge(matches_played,strike_rate,on="batter")
merged_df[merged_df["match_id"]>100].sort_values(by="strike_rate",ascending=False)

             batter  match_id  balls_faced  total_runs  strike_rate
39       AD Russell       104         1515        2488   164.224422
561       SP Narine       106          984        1534   155.894309
203      GJ Maxwell       128         1842        2772   150.488599
633        V Sehwag       104         1833        2728   148.827059
30   AB de Villiers       170         3487        5181   148.580442
490         RR Pant       110         2296        3297   143.597561
530        SA Yadav       135         2522        3594   142.505948
242      JC Buttler       106         2519        3583   142.238984
124        CH Gayle       141         3516        4997   142.121729
277      KA Pollard       168         2447        3437   140.457703
213       HH Pandya       128         1814        2534   139.691290
663       YK Pathan       153         2334        3222   138.046272
147       DA Warner       184         4849        6567   135.429986
572       SV Samson       162         3270        4419   135.137615
146       DA Miller       123         2171        2924   134.684477
564       SR Watson       141         2892        3880   134.163209
188    F du Plessis       138         3435        4571   133.071325
374        MS Dhoni       228         3947        5243   132.835065
546        SK Raina       200         4177        5536   132.535312
282      KD Karthik       233         3687        4843   131.353404
449       Q de Kock       107         2410        3160   131.120332
289        KL Rahul       122         3578        4689   131.050866
397          N Rana       101         2015        2636   130.818859
631         V Kohli       244         6236        8014   128.511867
343      MA Agarwal       121         2081        2669   128.255646
283       KH Pandya       107         1287        1647   127.972028
477       RG Sharma       251         5183        6630   127.918194
102     BB McCullum       109         2272        2882   126.848592
501      RV Uthappa       197         3927        4954   126.152279
57         AR Patel       112         1318        1653   125.417299
154        DJ Bravo       110         1247        1560   125.100241
671    Yuvraj Singh       126         2207        2754   124.784776
64        AT Rayudu       185         3490        4348   124.584527
470       RA Jadeja       180         2378        2959   124.432296
653         WP Saha       143         2368        2934   123.902027
512        S Dhawan       221         5483        6769   123.454313
566         SS Iyer       114         2545        3131   123.025540
50        AM Rahane       171         3858        4642   120.321410
194       G Gambhir       151         3524        4217   119.665153
340         M Vijay       105         2208        2619   118.614130
363       MK Pandey       158         3288        3859   117.366180
428        PA Patel       136         2442        2848   116.625717

In [4]:
import pandas as pd
data=pd.read_csv("/home/rguktrkvalley/Documents/data science/matches.csv")
matches=pd.DataFrame(data)

In [5]:
#3)probability of team winning the match after winning and lossing the toss

import numpy as np
toss_win=np.sum(matches["toss_winner"]==matches["winner"])
total_matches=matches["match_type"].value_counts().sum()
probability_win=toss_win/total_matches
probability_loss=1-probability_win
print("probability of team winning the match after winning the toss:",probability_win)
print("probability of team winning the match after lossing the toss:",probability_loss)

probability of team winning the match after winning the toss: 0.5059360730593607
probability of team winning the match after lossing the toss: 0.4940639269406393

In [6]:
#4)average runs scored by virat kohli and MS dhoni for each season

a=pd.merge(matches,df,left_on="id",right_on="match_id")
vk_md=a[a["batter"].isin(["V Kohli","MS Dhoni"])]
average_runs=pd.pivot_table(vk_md,values="batsman_runs",index=["season","batter"],columns="match_id",aggfunc="sum").mean(axis=1).unstack()
average_runs

batter    MS Dhoni    V Kohli
season
2007/08  29.571429  13.750000
2009     25.538462  18.923077
2009/10  26.090909  23.615385
2011     30.153846  34.812500
2012     21.058824  24.266667
2013     28.812500  39.937500
2014     24.733333  25.642857
2015     21.882353  31.562500
2016     23.666667  60.812500
2017     19.333333  30.800000
2018     30.333333  37.857143
2019     34.666667  33.142857
2020/21  16.666667  31.400000
2021     10.363636  27.000000
2022     19.333333  21.312500
2023      8.666667  45.642857
2024     14.636364  49.400000

In [7]:
#5)top_20 match scores scored in different stadiums

top_20=matches.nlargest(20,"target_runs")
replaced=top_20["venue"].replace({"M Chinnaswamy Stadium":"M Chinnaswamy Stadium, Bengaluru"})
replaced.value_counts()

venue
M Chinnaswamy Stadium, Bengaluru                                         3
Arun Jaitley Stadium, Delhi                                              2
Eden Gardens, Kolkata                                                    2
Rajiv Gandhi International Stadium, Uppal, Hyderabad                     1
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam       1
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh         1
MA Chidambaram Stadium, Chepauk                                          1
Holkar Cricket Stadium                                                   1
Himachal Pradesh Cricket Association Stadium, Dharamsala                 1
Punjab Cricket Association Stadium, Mohali                               1
Wankhede Stadium                                                         1
Zayed Cricket Stadium, Abu Dhabi                                         1
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow    1
Wankhede Stadium, Mumbai                                                 1
Narendra Modi Stadium, Ahmedabad                                         1
Himachal Pradesh Cricket Association Stadium                             1
Name: count, dtype: int64

In [8]:
#6)winners of each season

winners=matches[matches["match_type"]=="Final"]
winners[["season","winner"]]

       season                 winner
57    2007/08       Rajasthan Royals
114      2009        Deccan Chargers
174   2009/10    Chennai Super Kings
247      2011    Chennai Super Kings
321      2012  Kolkata Knight Riders
397      2013         Mumbai Indians
457      2014  Kolkata Knight Riders
516      2015         Mumbai Indians
576      2016    Sunrisers Hyderabad
635      2017         Mumbai Indians
695      2018    Chennai Super Kings
755      2019         Mumbai Indians
815   2020/21         Mumbai Indians
875      2021    Chennai Super Kings
949      2022         Gujarat Titans
1023     2023    Chennai Super Kings
1094     2024  Kolkata Knight Riders